html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  width: 950px;
}

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
}

h1 {
  font-size: 16px;
  font-weight: 700;
  color: #E1E2EA;
}

hr + h2 {
  margin: 20px 0 0 0;
  font-size: 12px;
  font-weight: 700;
  color: #BFBFDD;
}

div > h2 {
  margin: 0;
}

img {
  max-width: 25px;
  max-height: auto;
}

aside {
  float: left;
  padding-left: 10px;
  min-width: 27vw;
  height: 100vh;
  border-right: 2px solid #EAEAF4;
  background-color: #1F1F3D;
  color: #FFFFFF;
}

hr {
  margin-left: -10px;
  border: 1px solid #353567;
}

.show-stars {
  font-weight: 700;
  font-size: 16px;
  width: 95%;
  height: 5%;
  border: 1px solid #353567;
  margin: 20px auto;
  color: #E9E9F3;
  background-color: #5356A4;
}

.show-stars:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.input-fields,
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  min-height: 40vh;
  background-color: #A9AAD2;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

div > input,
section > input {
  border: 1px solid #353567;
  border-radius: 3px;
}

.body-input {
  min-height: 70px;
}

.title-input,
.search-input {
  min-height: 35px;
}

.search-input {
  border: 1px 1px 1px 0 solid #353567;
  border-radius: 0 0 2px 0;
  max-width: 260px;
}

.search-image {
  height: 37px;
  width: 37px;
  border: 1px solid #353567;
  background-image: url(./assets/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  background-color: #353567;
}

#search-bar {
  display:flex;
  align-items: center;
}

div > h2 {
  margin-bottom: 5px;
  font-size: 14px;
  color: #1F1F3D;
  font-weight: 700;
}

.save-button,
.comment-save-button {
  font-size: 18px;
  font-weight: 700;
  width: 305px;
  height: 40px;
  color: white;
  background-color: #353567;
  border: 1px solid #353567;
  border-radius: 2px;
}

input {
  line-height: 250%;
  width: 300px;
}

.cards-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  grid-row-gap: 0;
  padding: 20px 20px 0 20px;
  height: 54.5vh;
  background-color: #EAEAF4;
}

.cards {
  width: 100%;
  height: 150px;
  display: inline-block;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 17%;
  max-height: 25px;
  background-color: #1F1F3D;
}

.delete-button {
  background-image: url(./assets/delete.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: auto;
  background-position: center;
  background-size: 25px 25px;
}

.delete-button:hover,
#close-comments-button:hover {
  background-image: url(./assets/delete-active.svg);
  cursor: pointer;
}

.card-footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 17%;
  background-color: #5356A4;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 11px;
  border: 1px solid #1F1F3D;
}

#comment-word {
  display: flex;
}

#comment-bubble {
  max-width: 18px;
  margin-right: 3px;
  filter: invert(100%) sepia(2%) saturate(556%) hue-rotate(292deg) brightness(117%) contrast(100%);
}

.idea-title {
  margin: 0 0 0 0;
  color: #1F1F3D;
  padding: 10px 18px;
  font-size: 14px;
}

.idea-body {
  padding: 0 20px 10px 18px;
  margin-top: -5px;
}

.idea-text {
  background-color: #FFFFFF;
  height: 100%;
  font-size: 14px;
  border-left: 1px solid #1F1F3D;
  border-right: 1px solid #1F1F3D;
  overflow: auto;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #1F1F3D;
  background-color: rgba(31, 31, 61, .4);
}

.modal-content {
  background-color: #5356A4;
  margin: auto;
  margin-top: 20%;
  padding: 20px;
  border: 2px solid #353567;
  max-height: 400px;
  width: 75%;
  overflow: auto;
}

.comment-display {
  color: #ffffff
}

#close-comments-button {
  float: right;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.hidden {
  display: none;
}
