/*
Need cursor styling when conditions are met in js function
Need hidden !important styling for later use of icon switches and search filtering
*/
/* Add Hidden */
/*overflow: auto;*/
* {
  /* border: solid 2px blue; */
  font-family: "Open Sans";
}

body {
  margin: 0;
  font-family: "Open Sans";
}

/*~~~~~~~~NAV BAR~~~~~~~~~*/
.side-bar {
  background-color: #1F1F3D;
  color: #E9E9F3;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 20%;
  height: 184%;
  position: fixed;
}

.side-bar>h1 {
  margin: 8%;
}

.filter {
  border-top: solid 2px #353567;
  border-bottom: solid 2px #353567;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 196px;
  font-weight: Light;
}

.filter>h2 {
  color: #BFBFDD;
  margin: 4% 8%;
  font-size: 150%;
  font-weight: bold;
}

.show-starred-ideas {
  background-color: #5356A4;
  color: #E9E9F3;
  width: 85%;
  margin-left: 8%;
  padding: 4% 2% 2%;
  font-size: 116%;
  font-weight: bold;
  border-color: #2D2C55;
  border: solid 3px #7375B5;
  border-radius: 5px;
  outline: none;
}

/*~~~~~~INPUT BOX~~~~~~~~~*/
.form {
  background-color: #A9AAD2;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.user-title-label {
  font-size: 20px;
  margin-right: 31%;
  font-weight: bold;
  margin-top: 2.5%;
  margin-bottom: .3%;
}

.user-title {
  width: 40%;
  height: 2em;
  border: solid 3px #7375B5;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
}

.user-comment-label {
  font-size: 20px;
  margin-right: 31%;
  font-weight: bold;
  margin-top: 2.5%;
  margin-bottom: .3%;
}

.user-comment {
  width: 40%;
  height: 4em;
  border: solid 3px #7375B5;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  padding: 2% 0 2% 0;
}

.save-button {
  width: 40%;
  height: 11%;
  background-color: #353667;
  font-size: 250%;
  color: white;
  font-weight: bold;
  margin-top: 2.5%;
  border: solid 3px #7375B5;
  border-radius: 5px;
  outline: none;
}

.search-bar {
  display: flex;
  width: 40%;
  margin: 3% 3%;
  border: solid 3px #7375B5;
  border-radius: 5px;
  outline: none;
}

.search-icon {
  width: 6%;
  height: auto;
  vertical-align: middle;
  padding-left: 2%;
  background-color: #353667;
  padding-right: 3%;
}


.search {
  width: 90%;
  height: 2em;
  outline: none;
  font-size: 20px;
}

/*~~~~~~~~~CARD SECTION~~~~~~~~~~~~*/

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 20%;
  height: 763px;
  overflow: auto;
  background-color: #EAEAF4;

}

.idea-card {
  display: flex;
  flex-direction: column;
  width: 28%;
  border: 2px solid #1F1F3D;
  margin: 2%;
}
/*~~~~~~~~HEADER~~~~~~~~*/
.card-controls {
  display: flex;
  background-color: #1F1F3D;
  justify-content: space-between;
  border-bottom: 2px solid #1F1F3D;
}
/*~~~~~~~PICTURES~~~~~~~*/
.star-inactive,
.star-active,
.delete-inactive,
.delete-active,
.comment-icon {
  width: 15%;
}
/*~~~~~~~MIDDLE SECTION~~~~~~~*/
.idea-content {
  overflow: auto;
  background-color: #FFFFFF;
  color: #1F1F3D;
  padding-left: 3%;
}

.idea-title {
  margin-top: 5%;
  font-weight: bold;
  font-size: 169%; /*NICE*/
}

.idea-body {
  overflow: auto;
  height: 6em;
  font-size: 169%; /*NICE*/

}

/*~~~~~~FOOTER~~~~~~~~~~~*/
.comment-body {
  display: flex;
  background-color: #5356A4;
  color: #1F1F3D;
  align-items: center;
  border-top: 2px solid #1F1F3D;
}

.comment {
  color: #E9E9FE;
  margin: 1%;
  font-weight: bold;
  font-size: 85%;
}
