/*=== Reset ===*/
* {
  font-family: 'Open Sans';
  box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 380px;
}

.left-side-border {
  border-top: solid 1px #353567;
  border-bottom: solid 1px #353567;
  padding: 2.43vh;
}

.left-side-text {
color: #BBBAD9;
font-size: 15px;
}

.ideas-btn {
  background-color: #5356A4;
  color: #e9e9f3;
  border: #353567 solid 1px;
  width: 100%;
  font-size: 23px;
  height: 7vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
}
/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  display: flex;
  justify-content: center;
}

.idea-cards {
  flex-grow: 3;
}

.title-input, .body-input, .save-button {
  display: block;
  width: 26.04vw;
  border: 1px solid #595BA6;
  font-weight: bold;
  box-sizing: border-box;

}

.title-input {
  height: 5.23vh;
  width: 370px;
}
.body-input{
  height: 10.46vh;
  width: 370px;
  font-size: 15px;
  }
.form-text {
  font-size: 16px;
  font-weight: 600;
}

.form-text2 {
  font-size: 16px;
  margin-top: 3.04vh;
  font-weight: 600;
}
.save-button {
  background-color: #353567;
  color:#E9E7F3;
  margin-top: 3.04vh;
  margin-bottom: 3.04vh;
  height: 6.09vh;
  font-size: 24px;
  width: 370px;
}

.inputs-holder {
  margin-top: 3.04vh;
  margin-bottom: 3.04vh;
}

.search-btn {
  background-color: #353567;
  height: 45px;
  width: 45px;
  float: left;
  border: none;
}
.search-section {
    height: 45px;
    width: 383px;


}
.search-input {
  height: 100%;
    width: 85%;
    font-size: 15px;
}
.mag-glass {
  height: 25px;
  width: 25px;
}

/* ***ADDED TODAY */

/* .starred-cards-grid { */
  /* width: auto;
  background-color: #EAEAF4;
  border: solid 100px #EAEAF4;
  box-sizing: border-box; */


.mini-card {
  background-color: #FFFFFF;
  border: solid 1px #53564A;
  margin: 10px;
  width: 195px;
  height: 270px;
}

.idea-card-top {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;

}

.idea-card-text {
  color: #1F1F3D;
  height: 165px;
  margin-bottom: 1.94vh;
  margin-right: 20px;
  margin-left: 20px;

}

.idea-card-title {
  font-weight: 800;
  font-size: 17px;
  margin-top: 2.23vh;
  margin-bottom: 2.23vh;
}

.idea-card-body {
  font-weight: 300;
}
.idea-card-top {
  width: 100%;
  top: 0px;
}
.idea-card-bottom {
  background-color: #5356A4;
  width: 100%;
  display: flex;
  align-items: center;
}

.comment-idea-img {
  display: in-line;
}

.comment-text {
  display: inline;
  color: #E9E9F3;
  font-size: 14px;
  font-weight: bold;
}

.star-active-button, .delete-button, .comment-button {
  padding: 3.75px;
  background: transparent;
  border: none;
}

.star-active-img {
  height: 25px;
  width: 25px;
}

.delete-idea-img {
  height: 25px;
  width: 25px;
}

.comment-idea-img {
  height: 25px;
  width: 25px;
}

.ham-button {
background: transparent;
border: none;
}
.hidden {
  /* display: none; */
}

/*=== media queries ===*/

@media only screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
  .ham-button {
    height: 50px;
    width: 50px;
    background: white;
    padding-bottom: 10px;
    float: left;
    background: transparent;
    border: none;
  }

  .header-text {
    font-size: 18px;
    padding: 0px;
    color: white;
    margin-right: 65px;
    margin-top: 5px;
  }

  .menu {
    height: 40px;
    text-align: center;
    width: 100%;
  }

  .idea-form {
    flex-grow: 1;
  }
  .ham-section {
    color: white;
  }
.left-side-border {
  border: none;
opacity: 1;
position: absolute;
z-index: 3
}
.idea-card-text {
  height: 170px;
}
.idea-cards {
  display: flex;
  justify-content: center;
}
.mini-card {
  width: 100%
}
/* .purple-3 {
z-index: 1;
background: #5356A4;
opacity: 0.2;
width: 100%;
height: 100%
} */

/* .ideas { */
  /* opacity: 0; */
/* } */


}
