/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
}

/* img {
  width: 20px;
  height: 20px;
} */

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;       /*body*/
}

.purple-2 {                  /*idea-form*/
  background: #A9AAD2;
}

.purple-3 {                  /*show starred ideas / comments*/
  background: #5356A4;
}

.purple-4 {                  /*menu / save button / ideas header*/
  background: #1F1F3D;;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
}

.body-text {
  font: 'Open Sans' light;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 380px;
  flex-direction: row;
}





/*=== main section ===*/

.idea-cards {
  margin: 25px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 90%;
}

.idea-box {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #6E646B;
  display: flex;
  flex-direction: column;
}

.idea-box h2 {
  color: #1F1F3D;
  padding: 15px 15px 0px 15px;
}

.idea-box p {
  color: #1F1F3D;
  padding: 15px;
}

.box-header {
  background-color: #1F1F3D;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3px;
  border: 1px solid #6E646B;
}

.box-star {
  height: 2em;
  width: 2em;
}
.box-x {
  height: 2em;
  width: 2em;
}

.box-footer {
  background-color: #5356A4;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 3px;
  border: 1px solid #6E646B;
}
.box-footer h3 {
  color: #FFFFFF;
}
.box-footer img {
  height: 2em;
  width: 2em;
}


/*=== media queries ===*/
@media only screen and (max-width: 1200px) {
  body {
    /* flex-direction: row; */
  }
  .idea-cards {
   margin: 25px auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
 }
 .menu {
   height: 100%;
   width: 380px;
   flex-direction: row;
 }
 @media only screen and (max-width: 900px) {
  body {
    flex-direction: column;
  }
   .idea-cards {
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 }
@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .idea-cards {
   margin: 25px auto;
   display: grid;
   grid-template-columns: 1fr;
 }
  .header-text {
    font-size: 16px;
    font-weight: 900;
    /* padding: 10px; */
    display: inline;
    margin-right: 8.2em;
    }

  .hamburger-button {
    background-color: transparent;
    border: none;
    margin-right: 5.5em;
    width: 3em;
    height: 2.5em;
  }
  .menu {
    height: 40px;
    /* text-align: center; */
    width: 100%;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: stretch;
  }
  .idea-form {
    padding: 6% 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h3-title {           /*refactor*/
    align-self: start;
    padding-left: 6%;
    color: #1F1F3D;
    opacity: .65;
  }
  .title-input {
    height: 55px;
    width: 85%;
    border: 2px solid #5356A4;
    border-radius: .15em;
  }
  .h3-body {
    align-self: start;
    padding: 6% 0 0 6%;
    color: #1F1F3D;
    opacity: .65;
  }
  .body-input {
    height: 105px;
    width: 85%;
    border: 2px solid #5356A4;
    border-radius: .15em;
  }
  .save-idea-button {
    width: 90%;
    text-align: center;
    height: 13%;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #1F1F3D;
    color: #FFFFFF;
    opacity: 0.65;
    padding: 2%;
    border: 2px solid #5356A4;
    border-radius: .15em;
  }
  .search {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .search-idea-button {
    background-color: #1F1F3D;
    background-position: center center;
    height: 100%;
    width: 15%;
    opacity: .6;
    border: 2px solid #5356A4;
    border-radius: .15em;
    border-right: none;
  }
  .search-idea-button img {
    vertical-align: middle;
    height: 75%;
    width: 75%;
  }
  .search-idea-input {
    height: 75%;
    width: 100%;
    border: 2px solid #5356A4;
  }
  ::placeholder {
    padding: 5%;
    opacity: 0.6;
    color: #5356A4;
  }
}
