/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}

.filter {
  color: #BFBFDD;
  margin-left: 20px;
}

.show-starred {
  background: #5356A4;
  color: #E9E9F3;
  border-color: #353567;
  padding: 20px;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
}

img {
  width: 20px;
}
/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
  margin-left: 14px;

}

.body-text {
  font: 'Open Sans' light;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 380px;
  display: flex;
  flex-direction: column;
}
.menu-items {
  display: flex;
  border: solid;
  border-width: 2px;
  border-color: #353567;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;

}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 18px;
    padding: 10px;
  }

  .menu {
    height: 40px;
    text-align: center;
    width: 100%;
  }

  .idea-form {
    flex-grow: 1;
  }
}
