html {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas:
    "sidebox formbox formbox"
    "sidebox cardbox cardbox";
}

/* Side Bar Section Styles */

.side-box {
  background-color: #1f1f3d;
  grid-area: sidebox;
  font-weight: bold;
}

h1 {
  color: #ffffff;
  margin-left: 10px;
}

#filter-section {
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
}

.side-box p {
  color: #bfbfdd;
  margin-left: 10px;
  margin-top: 25px;
  font-size: .9em;
}

.filter-button {
  color: #ffffff;
  background-color: #5356a4;
  border: 2px solid #353567;
  border-radius: 2px;
  height: 50px;
  width: 90%;
  margin: 10px 10px 30px 10px;
  font-size: 1.1em;
}

/* Form Box Styles */

.form-box {
  background-color: #a9aad2;
  grid-area: formbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.idea-form {
  width: 50%;
}

#input-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#title, #body {
  border: 2px solid #7274B5;
  border-radius: 2px;
}

#title {
  height: 50px;
}

#body {
  height: 100px;
}

.label-text {
  color: #353567;
  font-weight: bold;
  font-size: .9em;
  margin-bottom: 5px;
}

#save-button {
  height: 50px;
  width: 100%;
  padding: 2px;
  border: 2px solid #7274B5;
  background-color: #353567;
  color: #ffffff;
  font-size: 1.1em;
}

/* Search Box Styles */

.search-form {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  width: 50%;
}

#search-button {
  grid-column: 1 / 2;
  background: none;
  border: none;
  background-color: #353567;
  padding: 12.5px;
  height: 50px;
  /* width: 20%; */
}

.search-bar {
  grid-column: 2 / 4;
  height: 50px;
  /* width: 80%; */
}

.card-box {
  background-color: #eaeaf4;
  grid-area: cardbox;
}

.card-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

article {
  border: 1px solid #1f1f3d;
}

.card-button-bar {
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-text {
  background-color: #ffffff;
  padding: 10px;
}

.comment-button-bar {
  display: flex;
  align-items: center;
  background-color: #5356a4;
  color: #ffffff;
  font-weight: bold;
}

.comment-button {
  background: none;
  border: none;
  padding: 0px;
  height: 40px;
  width: 40px;
}

.delete-button, .favorite-button {
  background: none;
  border: none;
  padding: 0px;
  height: 30px;
  width: 30px;
}

.hidden {
  display: none;
}

/* display: grid;
grid-template-columns: repeat (3, 1fr); */
