/* * {
  border: .1rem solid red;
} */

/*--------------------------BODY---------------------*/
body {
  margin: 0;
  font-family: Open Sans;
}

/*--------------------------MAIN---------------------*/
main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #EAEAF4;
}

/*--------------------------LEFT SIDE ASIDE---------------------*/
aside {
  display: flex;
  flex-direction: column;
  /* padding-left: 1rem; */
  height: 100vh;
  width: 35vw;
  margin: 0;
  background-color: #1F1F3D;
}

p {
  /* font-family: Open Sans; */
  color: #E9E9F3;
  font-weight: bold;
}

button {
  /* font-family: Open sans; */
  text-align: center;
  width: 20rem;
  height: 2.75rem;
  font-weight: bold;
  font-size: 1rem;
  color: #E9E9F3;
  background-color: #5356A4;
  border-radius: 0.05rem;
  border: none;
}

.border-line {
  border-bottom: 0.15rem solid #353567;
}

.idea-header{
  font-size: 1.5rem;
  padding-left: 2rem;
}

.show-starred,
.filter-starred {
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  color: #BFBFDD;
}

/*--------------------------RIGHT SIDE SECTION---------------------*/
section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  margin: 0;
}

/*--------------------------RIGHT SIDE FORM---------------------*/
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 52vh;
  margin-left: .1rem;
  padding-top: 0.015rem;
  /* font-family: Open sans; */
  font-weight: bold;
  color: #1F1F3D;
  background-color: #A9AAD2;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.title-box,
.save-button,
.text-box {
  border: .13rem solid#5356A4;
  height: 3rem;
  width: 30.55rem;
  box-sizing: border-box;
}

.text-box {
  height: 5rem;
  resize: none;
}

.save-button {
  border: .13rem solid #353567;
  background-color: #353567;
  border-radius: 0.12rem;
}

.save-button:hover {
  background-color: #5356A4;
}

.save-button:disabled {
  cursor: not-allowed;
}
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.search-box-input {
  border: .13rem solid #353567;
  display: flex;
  height: 3rem;
  width: 27.55rem;
  font-size: 1rem;
  font-weight: light;
  border-radius: 0.06rem;
}

.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color:#353567
}

.search-icon {
  height: 1.5rem;
  width: 2.5rem;
  font-size: 12rem;
  border-radius: 0.05rem;
}

/*--------------------------RIGHT SIDE ARTICLE---------------------*/
article {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  height: 48vh;
  background-color: #EAEAF4;
  overflow:scroll;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.idea-boxes {
  border: .13rem solid #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  /* width: 28%; */
  width: 275px;
  margin: 1.5rem;
  margin-right: 1.2rem;
  margin-bottom: 0rem;
  background-color: #FFFFFF;
}

.idea-box-header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  height: 2rem;
}

.comment-title,
.comment-text {
  color: black;
  padding: 0 1rem;
}

.comment-information {
  display: flex;
  flex-direction: column;
  height: 15rem;
  margin: 0;
}

.comment-title {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.comment-text {
  margin: 0rem;
  font-size: 1.4rem;
  font-weight: lighter;
}

.comment-footer {
  border-top: .13rem solid #1F1F3D;
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: #5356A4;
}
