
body {
  display: flex;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
}

.body-text {
  font-family: 'Open Sans' light;
}


/*=== menu section ===*/

.menu {
  display: flex;
  flex-flow: column wrap;
  width: 25vw;
  font-family: 'Open Sans';
}

#menu-icon {
  display: none;
}

#menu-x-icon {
  display: none;
}

.filter-star-ideas {
  border-bottom: 2px solid #A9AAD2;
  border-top: 2px solid #A9AAD2;
  color: #A9AAD2;
  padding: 10px 20px;
}

.show-ideas-btn {
  text-align: center;
  background-color: #5356A4;
  border:2px #EAEAF4;
  color: #E9E9F3;
  font-weight: 600;
  font-size: 1.4vw;
  height: 1.5em;
  padding: .2em;
  width:94%;
}


/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family:'Open Sans';
}

.idea-form-section {
  align-items: center;
  flex-grow: 2;
  display: flex;
  flex-flow:column wrap;
  justify-content: space-around;
  padding-bottom: 2em;
}

.idea-cards-section {
  flex-grow: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.idea-form {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 60%;
 padding: 1.5em 0em 0em 0em;
}

.idea-form input {
  border-radius: 4px;
  margin: 12px 0px;
}

.idea-form label {
  font-family: 'Open Sans';
  font-weight: bold;
  color: rgb(40,38,84);
}

#title-input-field {
  flex-grow: 1;
  height: 3.5em;
  border-color: #5356A4;
}

#body-input-field {
  flex-grow: 2;
  height: 8em;
  border-color: #5356A4;
}

.save-idea-btn {
  border-radius: 4px;
  font-size: x-large;
  font-weight: 500;
  color: #EAEAF4;
  height: 2em;
  margin: 18px 0px;
  background-color: rgb(40,38,84);
  border-color: #5356A4;
}

.search-bar {
  display: flex;
  height: 3em;
  margin: 15px 0px;
  width: 60%;

}

#search-icon-btn {
 background: #5356A4;
 padding: .5em .2em;
 width: 12%;
 border-color: #5356A4;
 /* border-radius: 2px; */
}

#search-entry {
  width: 88%;
  font-size:1em;
  padding-left: 1em;
  border-color: #5356A4;
  border-radius: 3px;
}

/*idea box cards section*/
.idea-box {
  border: 2px solid;
  border-color: #5356A4;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  margin-bottom: 1.5em;
  width: 1fr;
}

.star-delete-option {
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  height: 2em;
  padding: .1em;
}

.star-delete-option img {
  width: 25px;
}

#star-btn {
  display: none;
}

.idea-box-main-content {
  padding-left: 7px;
  overflow: scroll;
}

.idea-box-add-comment {
  align-items: center;
  color: #EAEAF4;
  display: flex;
  background-color: #5356A4;
  height: 2em;
}

.idea-box-add-comment img {
  width: 15%;

}




/*=== media queries ===*/

@media only screen and (max-width: 860px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 22px;
    padding: 6px;
    margin-right: 30%;
    margin-bottom: 15px;

  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 7vh;
  }

  #menu-icon {
    display: inline;
    align-self: flex-start;
    margin-left: 4px;
    width: 42px;
    height: 100%;
  }

  #menu-x-icon {
    width: 42px;
    height: 100%;
  }

  .filter-star-ideas {
    display: none;
  }

  .idea-form {
    flex-grow: 1;
  }

  .idea-box-add-comment img {
    width: 2.5em;
    height: 2.5em;
  }
}

@media only screen and (max-width: 600px) {
  .idea-form {
    width: 90%;
  }

  .idea-cards-section {
  display: flex;
  flex-direction: column;
  }
}

// create gaps for the idea cards when it is moved to mobile screen
// add border color around the input fields in form section
// add active star icon and hide it so the regular star icon shows
// make adjustments to the starred ideas text area
