html {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas:
    "sidebox formbox formbox"
    "sidebox cardbox cardbox";
}

.hidden {
  display: none!important;
}

/* Side Bar Section Styles */

.side-box {
  background-color: #1f1f3d;
  grid-area: sidebox;
  font-weight: bold;
}

h1 {
  color: #ffffff;
  margin-left: 10px;
}

#filter-section {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
}

.side-box p {
  color: #bfbfdd;
  font-size: .9em;
}

.filter-button {
  align-self: center;
  color: #ffffff;
  background-color: #5356a4;
  border: 2px solid #353567;
  border-radius: 2px;
  height: 50px;
  width: 100%;
  font-size: 1.1em;
}

/* Form Box Styles */

.form-box {
  background-color: #a9aad2;
  grid-area: formbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.idea-form {
  width: 50%;
}

#input-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#title, #body {
  border: 2px solid #7274B5;
  border-radius: 2px;
}

#title {
  height: 50px;
}

#body {
  height: 100px;
}

.label-text {
  color: #353567;
  font-weight: bold;
  font-size: .9em;
  margin-bottom: 5px;
}

#save-button {
  height: 50px;
  width: 100%;
  padding: 2px;
  border: 2px solid #7274B5;
  border-radius: 2px;
  background-color: #353567;
  color: #ffffff;
  font-size: 1.1em;
}

#save-button:disabled {
  background-color: #5356a4;
  cursor: help;
}


/* Search Box Styles */

.search-form {
  display: grid;

  grid-template-columns: repeat(10, 1fr);
  justify-content: flex-start;
  width: 50%;
  border: 1px solid #7274B5;
  border-radius: 2px;
}

#search-button {
  grid-column: 1 / 2;
  background: none;
  border: 2px solid #7274B5;
  background-color: #353567;
  padding: 10px; /* changes size of actual icon */
  width: 50px;
}

.search-bar {
  grid-column: 2 / -1;
  height: 50px;
  font-size: 1em;
  margin-bottom: 0px;
}

/* Card Box Styles */

.card-box {
  background-color: #eaeaf4;
  grid-area: cardbox;
}

.card-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

article {
  border: 1px solid #1f1f3d;
}

.card-button-bar {
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.delete-button, .favorite-button {
  background: none;
  border: none;
  padding: 0px;
  height: 30px;
  width: 30px;
}

.delete-box {
  position: relative;
  display: inline-block;
}

.delete-box .delete-red {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.delete-box:hover .delete-red{
  display: inline;
}

.card-text {
  background-color: #ffffff;
  padding: 10px;
  color: #1F1F3D;
}

.card-text p {
  font-size: 1.1em;
}

.comment-button-bar {
  display: flex;
  align-items: center;
  background-color: #5356a4;
  color: #ffffff;
  font-weight: bold;
}

.comment-button {
  background: none;
  border: none;
  padding: 0px;
  height: 40px;
  width: 40px;
}
